// ---------------------------------------------------------------------------
// COLORS
// ---------------------------------------------------------------------------

$black: #000000
$white: #FFFFFF

// Brand colors

// ---------------------------------------------------------------------------
// GRID
// ---------------------------------------------------------------------------

// Responsive-First Breakpoints

// @ min-width

// iPhone SE (320px)

// Extra small devices
$width-xs: 23rem  // 368px / 16 = 24

// iPhone SE L (568px)
// iPhone 8 (375px)
// iPhone 8+ (414px)

// Small devices (landscape phones, 576px and up)
$width-sm: 36rem  // 576px / 16 = 36

// iPhone 8 L (667px)
// iPhone 8+ L (736px)
// iPad Mini (768px)

// Medium devices (tablets, 768px and up)
$width-md: 48rem  // 768px / 16 = 48

// iPad Pro (834px)

// Large devices (desktops, 992px and up)
$width-lg: 62rem  // 992px / 16 = 62

// iPad Mini L (1024px)
// iPad Pro 10.5 (1024px)
// iPad Pro L (1112px)

// Extra large devices (large desktops, 1200px and up)
$width-xl: 75rem // 1200px / 16 = 75

// iPad Pro 10.5 L (1366px)
// MacBook Pro (2560)

// ---------------------------------------------------------------------------
// TYPOGRPAHY
// ---------------------------------------------------------------------------

// REM font scaling
// https://snook.ca/archives/html_and_css/font-size-with-rem

// 1REM = 10px
// 1.6REM = 16px
// 2.4REM = 24px
// 3.2REM = 32px
$base-font-size: 16px  // general default
$root-font-size: 62.5%  // 62.5% of 16px = 10px

// System font stack
// https://bitsofco.de/the-new-system-font-stack/
$font-stack: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", Ubuntu, Cantarell, "Helvetica Neue", Arial, sans-serif

$text-color: $medium-gray
$magic-number: 24

// https://www.smashingmagazine.com/2011/03/technical-web-typography-guidelines-and-techniques/#vertical-rhythm-setting-a-baseline
=font-size-and-line-height($font-size, $magic-number)
    font-size: $font-size
    line-height: $magic-number/$font-size + rem

=reset-padding-and-margin()
    margin: 0
    padding: 0
