@import "_normalize"
@import "_palette"

// Reset

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td
    +reset-padding-and-margin()

html
    font-size: 62.5%  // 1 rem == 10 px

h1
    +font-size-and-line-height(2.4rem, $magic-number)

h2
    +font-size-and-line-height(2.2rem, $magic-number)

h3
    +font-size-and-line-height(2rem, $magic-number)

h4
    +font-size-and-line-height(1.8rem, $magic-number)

h5
    +font-size-and-line-height(1.6rem, $magic-number)

h6
    +font-size-and-line-height(1.6rem, $magic-number)

h1, h2, h3, h4, h5, h6
    margin-bottom: $magic-number

p
    margin-bottom: $magic-number

body
    font-family: $font-stack
    +reset-padding-and-margin()
