{% load staticfiles %}
<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <script>(function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement)</script>

        <title></title>

        <meta name="description" content="">

        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% comment %}
            Apple touch icon
            https://github.com/h5bp/html5-boilerplate/blob/master/dist/doc/extend.md#apple-touch-icons
        {% endcomment %}
        <link rel="apple-touch-icon" href="{% static 'icon.png' %}">

        <!-- Place favicon.ico in the root directory -->

        {% comment %}
            Microsoft Pin Tiles custom browser config file
            https://msdn.microsoft.com/en-us/library/ie/dn455106.aspx
        {% endcomment %}
        <meta name="msapplication-config" content="{% static 'ieconfig.xml' %}" />

        <link href="https://fonts.googleapis.com/css?family=Roboto" media="all" rel="stylesheet" type="text/css">

        <link rel="stylesheet" type="text/css" media="all" href="{% static 'css/theme.css' %}" />
    </head>
    <body>
        <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->



        <script src="https://code.jquery.com/jquery-3.3.0.min.js" integrity="sha256-RTQy8VOmNlT6b2PIRur37p6JEBZUE7o8wPgMvu18MC4=" crossorigin="anonymous"></script>
        <script>window.jQuery || document.write('<script src="{% static 'js/vendor/jquery-3.3.0.min.js' %}"><\/script>')</script>
        <script src="{% static 'js/plugins.js' %}"></script>
        <script src="{% static 'js/main.js' %}"></script>

        <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
        <script>
            window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
            ga('create','UA-XXXXX-Y','auto');ga('send','pageview')
        </script>
        <script src="https://www.google-analytics.com/analytics.js" async defer></script>
    </body>
</html>
